::-webkit-scrollbar {
    width: 0.4em;
}
  
::-webkit-scrollbar-track {
    background-color: #34363d;
}

::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #050509;
    color: white;
    --green: #28f30e;
    --border: rgba(255, 255, 255, 0.13);
    --card-color: #1c1c22;

    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

nav {
    display: flex;
    padding: 1em 2em;
    border-bottom: 1px solid var(--border);
}

.paths {
    margin: 0 auto;
    display: flex;
    gap: 2em;
}

nav a {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: .15s;
}

nav a:hover {
    color: var(--green);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 0 auto;
    padding: 1em;
    max-width: 1300px;
}

.chart {
    width: 100%;
    height: 500px;
}

.card {
    padding: 1em;
    background: var(--card-color);
    border-radius: .5em;
}

.flex-1 {
    display: flex;
    gap: 1em;
}


/*---------------------- Board Page ----------------------*/

.board-data {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.board-data p {
    margin: 0;
}

.board-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: .3em;
}

.board-name {
    font-family: "Rajdhani", sans-serif;
}

/*---------------------- Channel Page ----------------------*/


.channel-charts {
    background-color: var(--card-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: .5em;
}

.channel-contacts {
    display: flex;
    gap: .75em;
    margin-top: auto;
}

.channel-contacts svg {
    width: 1.3em;
    fill: rgb(200, 200, 200);
}

/*---------------------- Not Found Page ----------------------*/

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found h2 {
    font-family: "Rajdhani", sans-serif;
}

/*---------------------- Table ----------------------*/

.table-container {
    width: 100%;
    overflow-x: auto;
    background: var(--card-color);
    border-radius: .5em 0.5em 0 0;
}

.table1 {
    font-size: .95em;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    font-family: "Rajdhani", sans-serif;
    text-align: center;
}

.table1 thead {
    border-bottom: 1px solid #2e2e2e;
}

.table1 th {
    vertical-align: middle;
    padding: .75em;
}

.table1 td {
    padding: 0 .8em;
}

.table1 .title {
    cursor: pointer; 
    text-align: left;
    min-width: 200px;
}

.table1 .date {
    min-width: 140px;
}

.table1 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: .9em;
}

.table1 a:hover {
    text-decoration: underline;
    color: #45ff64;
}

.table1 tbody tr:nth-child(even) {
    background-color: #15151a;
    color: #fff;
}

.progress-container {
    bottom: 0;
    width: 100%;
    background-color: #2b2b33;
    direction: rtl;
}

.progress-bar {
    height: 2px;
}

.full-list-btn {
    font-family: 'Karla';
    font-size: .9em;
    font-weight: 400;
    padding: .75em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #272a30;
    border-radius: 0 0 .5em .5em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: .2s;
}

.full-list-btn svg {
    margin-left: .3em;
    width: 21px; 
    height: 21px;
    fill: #ffffff;
}

.full-list-btn:hover {
    background-color: #2c3038;
}

/*---------------------- Category ----------------------*/

.category {
    display: flex;
    gap: 0.5em;
}

.category img {
    width: 120px;
    border-radius: .25em;
}

.category h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*---------------------- Channel ----------------------*/

.channel {
    display: flex;
    gap: 1em;
}

.channel img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/*---------------------- Video-Player ----------------------*/

.video-player {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
}

.player-card {
    background-color: rgb(15, 18, 20);
    border: 1px solid var(--border);
    border-radius: .5em;
    padding: 1em;
    padding-top: 2.4em;
    width: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.video-player svg {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    fill: red;
    margin: .5em;
}

.video-player video {
    border-radius: .5em;
}

/*---------------------- Footer ----------------------*/

footer {
    margin: 0 1em;
    display: flex;
    border-top: 1px solid var(--border);
}

footer .main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1150px;
    padding: 1em 0;
}

footer .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 300px;
}

footer h1, h2, h3 {
    margin: 0;
    font-family: "Rajdhani", sans-serif;
}

footer p {
    margin: 0;
    font-size: .9em;
    color: #dbdbdb;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: .9em;
    transition: .15s;
}

footer a:hover {
    color: var(--green);
}

/*----------------------------- Custom select -------------------------------*/

.custom-select-wrapper {
    font-family: 'Karla';
    position: relative;
    user-select: none;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .3em;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .6em;
    font-size: 0.85em;
    font-weight: 300;
    background: #2a2a31;
    color: #ffffff;
    height: 2.5em;
    cursor: pointer;
    border-radius: 0.3em;
}

.custom-select__trigger .header {
    display: flex;
    gap: .5em;
    flex-direction: row;
    align-items: center;
}

.custom-select__trigger .header svg {
    align-items: center;
    width: 18px;
    height: 18px;
    fill: #ffffff;
}

.custom-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: 0.2em;
    top: 100%;
    margin-top: .2em;
    border-radius: .25em;
    left: 0;
    right: 0;
    background-color: #2a2a31;
    transition: all 0.25s;
    opacity: 0;
    max-height: 300px;
    visibility: hidden;
    overflow-y: auto;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    border-radius: 0.1em;
    padding: .6em;
    font-size: 0.8em;
    font-weight: 300;
    color: #ffffff;
    cursor: pointer;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #505057;
}

.custom-option.selected {
    color: #ffffff;
    background-color: #505057;
}

.arrow {
    position: relative;
    height: 8px;
    width: 8px;
}

.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.25s;
}

.arrow::before {
    left: -2.5px;
    transform: rotate(90deg);
    background-color: #ffffff;
}

.arrow::after {
    left: 2.5px;
    transform: rotate(90deg);
    background-color: #ffffff;
}

.open .arrow::before {
    left: -2.5px;
    transform: rotate(135deg);
}

.open .arrow::after {
    left: 2.5px;
    transform: rotate(45deg);
}

/*----------------------------- Other -------------------------------*/

.b {
    background-color: var(--card-color);
    border-radius: .35em;
    padding: .4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b svg {
    fill: #a0a0a0;
}

.flex-v-0 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    position: relative;
}

.flex-h-0 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
    position: relative;
}

.stats-card {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.oks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.oks h4,p,h5 {
    padding: 0;
    margin: 0;
}

.oks h4,h5 {
    color: #e4e4e4;
    font-weight: 300;
    font-size: .85em;
}

.skeleton {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background: var(--card-color);
    border-radius: .5em;
}

.skeleton .time {
    font-size: .8em;
    width: 100%;
    padding: .25em;
    text-align: center;
    background: #505057;
    border-radius: .5em;
}

.skeleton .views {
    font-weight: 700;
    font-size: 1.1em;
}

.skeleton .box1 {
    display: flex;
    flex-direction: column;
    gap: .5em;
    grid-column: 1 / 2;
    border-bottom: 1px solid black;
    padding: 1em;
}
  
.skeleton .box2 {
    display: flex;
    flex-direction: column;
    gap: .5em;
    grid-column: 2 / 3;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
}
  
.skeleton .box3 {
    display: flex;
    flex-direction: column;
    gap: .5em;
    grid-column: 3 / 4;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
}
  
.skeleton .box4 {
    display: flex;
    flex-direction: column;
    gap: .5em;
    grid-column: 1 / 4;
    width: 100%;
    height: 220px;
    padding: 1em;
}

.category-img {
    width: 26px;
    height: 36px;
}

.profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.clip-img {
    height: 36px;
    aspect-ratio: 16 / 9; 
}

.chart-view {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: var(--card-color);
    border-radius: .5em;
    padding: 1em;
    height: 300px;
}

.chart-view .options {
    display: flex;
    flex-direction: column;
    gap: .2em;
    padding-right: 1em;
    border-right: 1px solid #2a2a2c;
}

.chart-view button {
    display: flex;
    align-items: center;
    font-family: 'Karla';
    font-weight: 500;
    appearance: button;
    backface-visibility: hidden;
    background: none;
    border-radius: .2em;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-size: .9em;
    outline: none;
    overflow: hidden;
    text-align: left;
    padding: .7em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.chart-view button .svg-left {
    margin-right: .5em;
}

.chart-view button .svg-right {
    position: absolute;
    right: .5em;
}

.chart-view button:hover {
    background-color: #2a2a31;
}

.chart-view button.selected {
    background-color: #2a2a31;
}

.meta {
    font-family: 'Karla';
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.meta h2 {
    font-size: 1.4em;
}

.meta p {
    font-size: .9em;
    margin-bottom: 1em;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pagination svg {
    display: block;
    width: 21px;
    height: 21px;
    fill: #ffffff; 
}

.pagination ul li {
    margin: 0 3px;
}

.pagination ul li a {
    display: block;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: .4em;
    border: 1px solid #050509;
    color: #c4c4c4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination ul li:first-child a,
.pagination ul li:last-child a {
    padding: 6px;
}

.pagination ul li a.selected {
    border: 1px solid #2dff50;
}

.pagination ul li a:hover {
    border: 1px solid #2dff50;
    color: white;
}

/*------------------------------ Live Dot ------------------------------*/

.live-circle {
    position: absolute;
    background-color: #ff0c0c;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    animation: pulse-animation 2.5s infinite;
}

.live-circle.big {
    width: 10px;
    height: 10px;
    top: 50px;
}
  
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 12, 12, 0.7);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255, 12, 12, 0);
    }
}

.list-header {
    width: 100%;
    display: flex;
    gap: .5em;
    justify-content: space-between;
}

.sort-select {
    width: 200px;
    align-self: end;
}

/*-------------------------------------------------------------------------------*/

@media (max-width: 1000px) {
    main {
        padding: .5em;
    }

    .oks {
        display: flex;
        flex-direction: column;
    }

    .list-header {
        flex-direction: column;
    }

    .chart {
        height: 200px !important;
    }
}