<!DOCTYPE html>
<html>
    <head>
        <title>{{.Category.Name}} Page</title>
        <meta charset="utf-8">
        <title>Index Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#ffffff">

        <link rel="icon" type="image/png" href="/static/images/logo.png">
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
        <!-- Videojs  -->
        <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
        <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
        <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    </head>
    <body>
        {{template "nav"}}

        <main>
            <div class="card flex-1">
                <img class="board-img" src="{{.Category.Banner}}">
                <div class="board-data">
                    <h2 class="board-name">{{.Category.Name}}</h2>
                    <p>Peak Viewers: {{.Category.PeakViewers}}</p>
                    <p>Peak Channels: {{.Category.PeakChannels}}</p>
                    <p>{{.Category.Description}}</p>
                </div>
            </div>

            <div class="card">
                <div class="clips" id="clips">
                    {{range $clip := .Clips}}
                       {{template "clip" $clip}}
                    {{end}}
              </div>
            </div>

            <div class="card">
                <div id="chart-channels" class="chart"></div>
            </div>

            <div class="card">
                <div id="chart-views" class="chart"></div>
            </div>
        </main>

        {{template "footer"}}

        <script type="text/javascript">
            const channels_dates = {{.ChannelsChart.Dates}};
            const channels_values = {{.ChannelsChart.Values}};
            const views_dates = {{.ViewsChart.Dates}};
            const views_values = {{.ViewsChart.Values}};

            var chart1 = echarts.init(document.getElementById('chart-channels'), 'light', {
                renderer: 'canvas',
                useDirtyRect: false
            });

            var chart2 = echarts.init(document.getElementById('chart-views'), 'light', {
                renderer: 'canvas',
                useDirtyRect: false
            });

            var option1 = {
                backgroundColor: '#1c1d1f',
                title: {
                    text: 'Channels',
                    left: 'center',
                    top: '1%',
                    textStyle: {
                        fontFamily: 'karla',
                        fontSize: 16,
                        fontWeight: 'bold',
                        color: '#dedede',
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'none',
                    }
                },
                grid: {
                    left: '3%',
                    right: '3%',
                    top: '15%',
                    bottom: '7%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: false
                        },
                        saveAsImage: {
                            show: true,
                            title: 'Save Image',
                            name: 'channels',
                            type: 'png',
                            pixelRatio: 2,
                            excludeComponents: ['toolbox']
                        }
                    }
                },
                xAxis: {
                    type: 'category',
                    data: channels_dates,
                },
                yAxis: {
                    type: 'value',
					splitLine: {
						show: true,
						lineStyle: {
							color: '#303030',
							type: 'dashed'
						}
					}
                },
                series: [
                {
                        data: channels_values,
                        type: 'line',
                        smooth: true,
                        itemStyle: {
                            color: '#3b85ff'
                        },
                        areaStyle: {
                            color: '#3b85ff',
                            opacity: 0.3
                        },
                    }
                ]
            };

            var option2 = {
                backgroundColor: '#1c1d1f',
                title: {
                    text: 'Views',
                    left: 'center',
                    top: '1%',
                    textStyle: {
                        fontFamily: 'karla',
                        fontSize: 16,
                        fontWeight: 'bold',
                        color: '#dedede',
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'none',
                    }
                },
                grid: {
                    left: '3%',
                    right: '3%',
                    top: '15%',
                    bottom: '7%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: false
                        },
                        saveAsImage: {
                            show: true,
                            title: 'Save Image',
                            name: 'views',
                            type: 'png',
                            pixelRatio: 2,
                            excludeComponents: ['toolbox']
                        }
                    }
                },
                xAxis: {
                    type: 'category',
                    data: views_dates,
                },
                yAxis: {
                    type: 'value',
					splitLine: {
						show: true,
						lineStyle: {
							color: '#303030',
							type: 'dashed'
						}
					}
                },
                series: [
                    {
                        data: views_values,
                        type: 'line',
                        smooth: true,
                        itemStyle: {
                            color: '#3b85ff'
                        },
                        areaStyle: {
                            color: '#3b85ff',
                            opacity: 0.3
                        },
                    }
                ]
            };

            chart1.setOption(option1);
            chart2.setOption(option2);
        </script>
    </body>
</html>